<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sistema Vendas</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
</head>
<body>
	<header th:replace="fragments/header :: header"></header>

	<div class="container mt-4 p-5">
		<div class="container">
			<h3>Detalhes do Usuário</h3>
		</div>

		<hr>
		<div th:each="usuario : ${usuario}">

			<div class="container">
				<div class="col-md-5">
					<p>
						ID: <span th:text="${usuario.id}"></span>
					</p>
					<p>
						Nome: <span th:text="${usuario.nome}"></span>
					</p>
					<p>
						E-mail: <span th:text="${usuario.email}"></span>
					</p>
				</div>
			</div>
			<hr>
<!-- 			<a th:href="${#mvc.url('UC#listaUsuarios').build()}" -->
			<a href="javascript:history.back(1);"
				class="btn btn-sm btn-danger">voltar</a>
			<hr>
			<div class="container">
				<h5>Histórico de Vendas</h5>
			</div>
			<div>
				<table class="table table-hover mt-3">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tr th:each="venda : ${vendas}">
						<td><span th:text="${venda.nome}"></span></td>
						<td>
							<div class="btn-group pull-right">
								<a class="delete btn btn-sm btn-danger"
									th:href="${(#mvc.url('UC#deletarVenda').arg(0, venda.id)).build()}">Excluir</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>